@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-500;
    font-family: "Roboto", sans-serif;
  }

  .btn-header {
    @apply bg-yellow-400 px-3 py-3 hover:bg-yellow-300;
  }

  .flex-center {
    @apply flex justify-between items-center;
  }

  .select_address {
    @apply border-solid border-4 gap-[10px] border-yellow-500 py-2 rounded-lg flex justify-center items-center;
    /* flex items-center justify-center */
  }

  .viewed_tour {
    @apply aspect-[1/1] object-cover w-[120px];
  }

  .show {
    @apply absolute top-full left-0 w-[100%] text-center bg-purple;
  }
  .hide {
    @apply hidden;
  }

  .box-calendar {
    @apply border-solid border border-gray-300 rounded-lg p-3;
  }

  .btn-inc_dec {
    @apply border border-solid px-1 border-gray-400 font-bold;
  }

  .bg-active {
    @apply bg-blue-200;
  }
  .input-config {
    @apply p-2 border-2 border-solid rounded-md border-[#ccc] outline-none focus:shadow-custom;
  }
  .step {
    @apply w-[50px] text-lg text-purple font-extrabold h-[50px] bg-white border-[3px] border-solid border-[#ACACA6] rounded-full text-center flex justify-center items-center;
  }
  .step.selected {
    @apply border-[3px] border-solid border-purple;
  }
  .step.completed {
    @apply bg-purple text-white;
  }

  .heading-footer {
    @apply md:text-xl text-base text-white;
  }
  .text-footer {
    @apply md:text-base text-sm text-[#cdc5c5] leading-7;
  }
  .icon-footer {
    @apply md:w-[30px] md:h-[30px] w-5 h-5;
  }
  li {
    @apply list-none;
  }
  .group:hover ~ .group-hover {
    @apply block;
  }
  .active {
    color: #ffc709;
  }

  .progress-wrapper::after {
    width: 100%;
    position: absolute;
    top: 50%;
    transfrom: translateY(-50%);
    content: "";
    height: 5px;
    background-color: #ccc;
    z-index: 1;
  }
}
